<h1>Show selected Article</h1>

<p><%= @blog.title %> </p>
<p><%= @blog.description %> </p>
<br>

<%= link_to 'Back to  Article listing ', blogs_path %> | 
<%= link_to ' Edit this Article  ', edit_blog_path %>



