

<h1>Home page</h1>


<%= link_to 'About', welcome_about_path %>



<!-- #	Run server rails s -->
<!-- #   Create route -->
<!-- #	Assign route in route.rb -->
<!-- #	Controller  -->
<!-- #	Define method in Controller  -->
<!-- #	Create View -->
<!-- #	link_to another folder  -->

